*{
    box-sizing: border-box;
    font-family: 'montserrat',sans-serif;
}
header{
    margin:0;
    text-align: center;
}
h1{
    font-family: 'Bungee Spice', cursive;
   
}
.container-Flex{
    display: flex;
    
    height: 500px;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
    
}
.card {
    height: 100%;
   

}

.objetivo{
    flex: 1;
    width: 100px;
    align-items: center;
    
    background-color: red;
}
.campeoes{
    flex: 1;
    width: 100px;
    background: url(/scr/viego_2j4z.jpg);
    background-size:cover;
}
.mapa{
    flex: 1;
    width: 100px;
    background-color: brown;
}